# Build Directories
build/
bin/
target/

# Linux unneeded files
*~
Session.vim
*.swp
*._swp
*.elc
*_flymake.*
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Windows unneeded files
*.tmp
thumbs.db
Thumbs.db
ehthumbs.db
EhThumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
desktop.ini
*.cab
*.msi
*.msm
*.msp
*.lnk
$RECYCLE.BIN/
Network Trash Folder
Temporary Items

# Mac OSX unneeded files
._*
.DS_Store
.AppleDouble
.LSOverride
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.TemporaryItems
Temporary Items
.com.apple.timemachine.donotpresent
.TPDLNA
.Trash-1000
.AppleDB
.AppleDesktop
Network Trash Folder
.apdisk

# Eclipse unneeded files
.metadata
bin/
build/
target/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.project
.classpath
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.cache-main
.scala_dependencies
.worksheet

# Compiled files
*.pyc
*.out
*.class
*.exe
*.com

# Application specific files
venv
node_modules
.sass-cache
